body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul li{
  display: inline;
  padding: 0 10px;
}

input {
  width: 100%;
  background-color:rgba(133, 237, 255, 0);
  border-radius: 20px!important;
  border-color:rgb(254, 180, 61);
  padding: 5px 20px;
  color:rgb(255, 135, 61);
}
::placeholder{
  color:rgba(126, 126, 126, 0.455);
}

.translated-images{
  width: auto;
  padding:100px 10%;

}


div .row {
  display: flex;
align-items: center;
justify-content: center;

}

.btn-translate{
  border-radius: 150px!important;
  width: 100%;
  float:left;
  background-color: rgba(240, 248, 255, 0)!important;
  color: rgb(255, 181, 43)!important;
  border-color:rgb(255, 181, 43)!important;
}

h1, h2, h3, h4, h5{
  color:orange;
}

a, b, h1, h2, h3, h4, h5, h6 {
  text-decoration:none!important;
}

.section-translationlist{
  background-color: rgba(129, 129, 129, 0.242);
  padding:20px 10px;
  border-radius: 10px!important;
}

.section-profile-actions{
  background-color: rgba(129, 129, 129, 0.242);
  padding:20px 10px;
  border-radius: 10px!important;
  margin:10px 30px;
  text-align: center;
}

.link-to-translations{
  background-color: rgba(255, 255, 255, 0)!important;
  padding: 10px 40px;
  vertical-align: middle;
  color: orange!important;
  border-radius:10px;
  border: 3px solid orange;
  font-weight: 700;
}

dl, ol, ul{
  margin-top:1rem!important;
  padding-right: 20px!important;
}

.section-past-translations{
  text-align: center;
  padding: 100px 0px;
}
